<header>
	<div class="row">
		<div class="col-12">
			<div>
				<h1></h1>
				<h1></h1>
			</div>
			<!--box-head end-->
		</div>
		<!--col-12 end-->
	</div>
	<!--row end-->
	<div class="row">
		<div id="col-12">
			
			<!--box-nb end-->
		</div>
		<!--col-12 end-->
	</div>
	<!--row end-->
</header>
<br><br><br>
<div class="row">
	<div class="col-2">
		<div class="max-width-xs">
			<div class="contianer">
				<img src="assets/img1.jpg">
			</div>
			<!--container end-->
		</div>
		<!--max-width end--> 
	</div>
	<!--col-2 end-->
	<div class="col-10">
		<div class="max-width-xs">
			<div class="container">
				<div class="box">
					<h1> Meet Me</h1>
							<h2>I'm Ameni Ben Slimen 23 year-old web developer with a passion for crafting engaging online experiences. Proficient in HTML, CSS, JavaScript for dynamic designs, and experienced in back-end technologies like Python and PHP. Skilled in CMS management, responsive design, and Git collaboration. Eager to innovate and contribute to the ever-evolving web landscape.</h2>
				<br><br><br>
                        </div>
				<!--box end-->
			</div>
			<!--container end-->
		</div>
		<!--max-width-xs end-->
	</div>
	<!--col-10 end-->
</div>
<!--row end-->

