<html>
  <head>
 
  </head>
  <body>

    <!DOCTYPE html>
    <!-- Created By smdevloper -->
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Angular Project</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>
    <br><br><br><br><br><br>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <img src="">
          <h2></h2>
          <p></p>
          <a routerLink="/design" class="btn-default"></a>
          
        </div>
        <div class="col">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
          <h2>Develop</h2>
          <p>Use modern tools to turn your design into a web site</p>
          <a routerLink="/develop" class="btn-default">Learn More</a>
          
        </div>
        <div class="col">
          <img src="">
          <h2></h2>
          <p></p>
          <a routerLink="/deploy" class="btn-default"></a>
          
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    
  </body>
</html>